@using SharedSettings.Settings
@{
    ViewData["Title"] = "首页";
}
<div class="row" style="margin-top: 25px;">
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">后台管理系统</div>
            <div class="panel-body" style="padding-bottom: 0;">
                <a href="@AdminClientSettings.CorsOrigin" class="thumbnail">
                    <img src="images/admin.png" alt="后台管理系统">
                </a>
            </div>
        </div>
    </div>
</div>